{% extends "base.html" %}
{% load static%}

{% block title %}
    <title>Home Page - Taskmate</title>
{% endblock title %}


{% block content %}
 <div class="container">
    <div class='row mt-5'>
        <div class="col-lg-4">
            <img src="{% static "images/sticky-notes-1.jpg"%}" alt="Notes" class="rounded shadow" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static "images/sticky-notes-2.jpg"%}" alt="Notes" class="rounded shadow" width="360" height="250">
        </div>
        <div class="col-lg-4">
            <img src="{% static "images/sticky-notes-3.jpg"%}" alt="Notes" class="rounded shadow" width="360" height="250">
        </div>
    </div>
    <div class='row mt-5'>
        <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-primary">Something About Tasks!</p></center>
            <center><p class="h2 mt-3">To Make Your Schedule Meet Your Deadlines</p></center>
            <center><p class="h5">To grow the career path you always wanted</p></center>

            <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>
        </div>
    </div>
 </div>
{% endblock content %}


